.cabecalho
{
    display: flex;
    justify-content: space-between;
    border: var(--borda-principal);
}

.cabecalho__divisao
{
    column-gap: 0;
}

.cabecalho__div-menu-hamburguer
{
    display: none;
}

.cabecalho__span-sacola
{
    display: none;
}

/* section
{
    border: var(--borda-principal);
} */

.cabecalho__divisao > a
{
    display: inline-block;
    padding: var(--espacamento-primario) 3.82375rem;
    
    
}

.cabecalho__divisao__ancora-esquerda
{
    border-right: var(--borda-principal);
}

.cabecalho__divisao__ancora-direita
{
    border-left: var(--borda-principal);
}

@media screen and (max-width:1024px)
{
    .cabecalho__divisao,.cabecalho__div-menu-hamburguer__input,.cabecalho__div-menu-hamburguer__lista
    {
        display: none;
    }

    .cabecalho__div-menu-hamburguer
    {
        display: block;
        position: relative;
    }

    .cabecalho__div-menu-hamburguer__input:checked~.cabecalho__div-menu-hamburguer__lista
    {
        display: block;
    }

    .cabecalho__div-menu-hamburguer__input:checked~label>.cabecalho__div-menu-hamburguer__span
    {
        background-image: url("../../assets/close-button.svg");
    }

    .cabecalho__div-menu-hamburguer__span
    {
        height: var(--espacamento-senario);
        width: var(--espacamento-senario);
        background-image: url("../../assets/Menu.svg");
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
    }

    .cabecalho__div-menu-hamburguer__lista
    {
        box-sizing: border-box;
        position: absolute;
        width: 24rem;
        background-color: var(--cor-de-fundo);
        border: var(--borda-principal);
    }

    .cabecalho__div-menu-hamburguer__lista__item,.cabecalho__div-menu-hamburguer__lista__lista,.cabecalho__div-menu-hamburguer__lista__div
    {
        box-sizing: border-box;
        padding: var(--espacamento-primario);
        border-bottom: var(--borda-principal);
    }

    .cabecalho__div-menu-hamburguer__lista__item__link
    {
        font-size: var(--tamanho-fonte-senario);
        font-weight: var(--peso-secundario);
    }   

    .cabecalho__div-menu-hamburguer__lista__lista
    {
        display: flex;
        flex-direction: column;
        row-gap: var(--espacamento-terciario);
    }

    .cabecalho__div-menu-hamburguer__lista__lista>li>a
    {
        font-weight: var(--peso-secundario);
    } 

    .cabecalho__div-menu-hamburguer__lista__div
    {
        display: flex;
        justify-content: space-between;
    }

    .cabecalho__span-sacola
    {
        display: table;
        width: var(--espacamento-senario);
        height: var(--espacamento-senario);
        text-align: center;
    }

   .cabecalho__span-sacola>a
   {
        display: table-cell;
        vertical-align: middle;
   }
}

@media screen and (max-width:428px)
{
    .cabecalho__span-sacola
    {
        width: 3rem;
    }

    .cabecalho__div-menu-hamburguer__lista__item__link
    {
        font-size: var(--tamanho-fonte-quinario);
        font-weight: var(--peso-secundario);
    }   

    .cabecalho__div-menu-hamburguer__lista__lista>li>a
    {
        font-size: var(--tamanho-fonte-quartenario);
    } 

    .cabecalho__div-menu-hamburguer__lista
    {
        width: 100vw;
    }

    .container-grade__titulo
    {
        padding: 0.75rem;
    }

    .container__dados__contato__texto
    {
        padding: var(--espacamento-senario) var(--espacamento-terciario);
        justify-content: start;
    }
}