.contentor
{
    display: grid;
    grid-template-columns: 50% 50%;
}

.contentor__divisao
{
    padding: var(--espacamento-secundario);
    border-bottom: var(--borda-principal);
}

.texto-principal
{
    font-size: var(--tamanho-fonte-quinario);
    margin-bottom: 3.375rem;
}

.contentor__divisao-descricao
{
    display: flex;
}

.contentor__divisao__imagem
{
    width: auto;
    padding-right: var(--espacamento-primario);
    border-right: var(--borda-principal);
}

.texto-secundario
{
    font-size: var(--tamanho-fonte-quartenario);
    align-self: flex-end;
    padding-left: var(--espacamento-primario);
}

.contentor-grade
{
    display: grid;
    grid-template-columns: 50% 50%;
}

.contentor-grade__titulo
{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: var(--espacamento-primario);
    border-left: var(--borda-principal);
    border-bottom: var(--borda-principal);
  
}

.contentor-grade__titulo > h3
{
    margin-top: auto;

}

.contentor-grade__titulo__ancora
{
    margin-top: auto;
    font-weight: var(--peso-terciario);
    display: flex;
    justify-content: center;
    align-items: flex-end;
} 

.contentor-grade__titulo__ancora > img
{
    align-self: center;
}
.contentor-grade__imagem
{
    width: 100%;
    height: 100%;
}

.contentor__titulo
{
    padding: var(--espacamento-secundario);
    text-align: left;
    border-left: var(--borda-principal);
    border-bottom: var(--borda-principal);
}

.contentor__our-story
{
    display: flex;
    flex-direction: column;
}

.contentor__our-story > h4
{
    font-size: var(--tamanho-fonte-quartenario);
    margin-bottom: var(--espacamento-primario);
    font-weight: var(--peso-secundario);
}

.contentor__our-story > h3
{
    margin-bottom: var(--espacamento-terciario);
}

.contentor__ancora
{
    grid-column: 2 / 3;
    padding: var(--espacamento-terciario) var(--espacamento-primario) var(--espacamento-quartenario) var(--espacamento-primario);
    font-size: var(--tamanho-fonte-primario);
    font-weight: var(--peso-secundario);
    border: var(--borda-principal);
    margin: var(--espacamento-quinario) auto auto 0;
}

.contentor-quartenario
{
    grid-template-areas: 
                            'why-choose-us .'
                            'why-choose-us .'
                            'why-choose-us .'
                            'why-choose-us .';
}

.item-primeira-coluna
{
    grid-area: why-choose-us;
}

.contentor__endereco
{
    display: flex;
    flex-direction: column;
}

.contentor__endereco__redes
{
    display: grid;
    grid-template-columns: 50% 50%;
}

.contentor__endereco__imagem
{
    /* max-width: 200%; */
}

.contentor__endereco__redes__titulo
{

    text-align: center;
    background-color: var(--cor-de-fundo);
    padding: var(--espacamento-terciario) 0 var(--espacamento-terciario) 0;
    border-right: var(--borda-principal);
    border-left: var(--borda-principal);
    margin-bottom: 0 !important;
}

.contentor__endereco__redes__redes-sociais
{
    background-color: var(--cor-de-fundo);
    padding: var(--espacamento-terciario) 2.5rem var(--espacamento-terciario) 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    border-right: var(--borda-principal);
    
    
}

.contentor__responsivo__contato
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contentor__titulo-titulo
{
    margin-bottom: var(--espacamento-primario);
}

.contentor__titulo-titulo + p
{
    font-weight: var(--peso-secundario);
}

#formulario-phone-number
{
    display: flex;
    justify-content: space-between;
    column-gap: var(--espacamento-terciario);
    margin-top: var(--espacamento-terciario);
    margin-bottom: 1.125rem;
}

.input-formulario
{
    padding: var(--espacamento-terciario);
    display: inline-block;
    width: 50%;
    text-align: left;
}

.botao-submit
{
    box-sizing: border-box;
    padding: var(--espacamento-terciario) var(--espacamento-primario) var(--espacamento-quartenario) var(--espacamento-primario);
    display: inline-block;
    width: 50%;
    color: var(--cor-de-fundo);
    background-color: var(--preto-primario);
}

.contentor__responsivo
{
    display: grid;
    grid-template-columns: 100%;
}

.contentor__dados
{
    display: grid;
    grid-template-columns: 50% 50%;
}

.contentor__dados__contato__titulo,.contentor__dados__contato__texto
{
    /* border-left: var(--borda-principal); */
}

.contentor__dados__contato
{
    border-bottom: none;
    box-sizing: border-box;
}

.contentor__dados__contato__texto
{
    /* box-sizing: border-box; */
    height: 50%;
    display: grid;
    grid-template-areas: "." ".";
    align-content: center;
    /* border-right: var(--borda-principal) ; */
    height: max-content;
    /* background-color: blue; */
}

.contentor__dados__contato__texto__primeiro
{
    margin-bottom: var(--espacamento-terciario);
} 

.contentor__dados__contato__titulo
{
    padding: var(--espacamento-terciario) 0.625rem;
    border-bottom: var(--borda-principal);
    text-align: center;
}

.contentor__dados__contato__texto
{
    text-align: center;
    padding: var(--espacamento-primario);
}

@media screen and (max-width:1024px)
{
    .contentor
    {
        grid-template-columns: 100%;
    }

    .contentor-conversao
    {
        display: flex;
        flex-direction: column-reverse;
        /* border-bottom: none; */
    }

    .contentor__invisivel
    {
        display: none;
    }

    .contentor-quartenario
    {
        grid-template-areas: 
                            'why-choose-us'
                            '.'
                            '.'
                            '.'
                            '.';
    }

    .contentor__dados__contato__texto
    {
        height: auto;
    }

    .contentor__endereco
    {
        display: flex;
    }

    .contentor__endereco__imagem
    {
        max-width: 100%;
    }

    .contentor__endereco__redes
    {
        border: var(--borda-principal);
    }

    .input-formulario
    {
        border: none;
        border: var(--borda-principal);
    }

    .contentor__dados
    {
        border-bottom: none;
    }

    .contentor__dados__contato__texto
    {
        border: none;
        border-right: var(--borda-principal);
        border-bottom: var(--borda-principal);
        height: 30%;
    }
}


@media screen and (max-width:428px)
{
    .contentor__divisao
    {
        padding: var(--espacamento-senario) var(--espacamento-primario);
    }

    .contentor__divisao__imagem
    {
        width: 9.71875rem;
        height: 11.25rem;
        padding-right: 0.5rem;
    }

    .texto-principal
    {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .texto-secundario
    {
        font-size: var(--tamanho-fonte-quartenario);
        align-self: flex-end;
        padding-left: var(--espacamento-terciario);
    }

    .contentor-grade__titulo
    {
        padding: 0.75rem;
    }

    .contentor-grade__titulo__ancora
    {
        font-size: var(--tamanho-fonte-quartenario);
    } 

    .contentor__titulo
    {
        padding: var(--espacamento-senario) var(--espacamento-terciario);
    }

    .contentor__our-story > h4
    {
        font-size: 0.75rem;
    }

    .contentor__ancora
    {
        box-sizing: border-box;
        font-size: var(--tamanho-fonte-quartenario);
        margin: var(--espacamento-quinario) auto 0 auto;
        width: 100%;
        text-align: center;
    }

    .contentor__endereco__redes
    {
        border: var(--borda-principal);
        grid-template-columns: 100%;
        text-align: left;
    }

    .contentor__endereco__redes__titulo
    {
        text-align: left;
        padding: 0.5rem var(--espacamento-terciario) var(--espacamento-terciario) var(--espacamento-terciario);
    }

    .contentor__endereco__redes__redes-sociais
    {
        justify-content: flex-start;
        padding: 0.5rem var(--espacamento-terciario) var(--espacamento-terciario) var(--espacamento-terciario);
    }

    .contentor__responsivo__contato__texto
    {
        font-size: var(--tamanho-fonte-quinario);
        font-weight: var(--peso-secundario);
    }

    #formulario-phone-number
    {
        margin-bottom: 0;
        flex-direction: column;
        row-gap: var(--espacamento-terciario);
    }

    .input-formulario,.botao-submit
    {
        box-sizing: border-box;
        width: 100%;
        font-weight: var(--peso-secundario);
        font-size: var(--tamanho-fonte-quartenario);
    }

    .contentor__dados 
    {
        /* display: grid;
        grid-template-columns: 100%; */
        display: flex;
        flex-direction: column;
    }

    .contentor__dados__contato__titulo
    {
        padding: var(--espacamento-terciario);
        text-align: left;
    }

    .contentor__dados__contato__texto
    {
        padding: var(--espacamento-senario) var(--espacamento-terciario);
        font-weight: var(--peso-terciario);
        justify-content: start;
    }

    .contentor__dados__contato__texto__numero
    {
        font-size: var(--tamanho-fonte-primario);
        font-weight: var(--peso-terciario);
    }

    .contentor__dados__contato__texto__horario
    {
        font-size: 0.75rem;
        font-weight: var(--peso-secundario);
        justify-self: start;
    }

    .contentor__dados__contato__texto__endereco
    {
        font-size: var(--tamanho-fonte-quartenario);
        font-weight: var(--peso-terciario);
        margin-bottom: 0 !important;
    }
}
