#corpo-pagina-home
{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-primario);
    /* border: var(--borda-principal); */
}

a
{
    text-decoration: none;
    color: var(--preto-primario);
    font-size: var(--tamanho-fonte-primario);
    font-weight: var(--peso-secundario);

}

h1
{
    font-size: 4.1875rem;
    font-weight: var(--peso-terciario);
    margin-bottom: var(--espacamento-terciario);
}

h2
{
    font-size: var(--tamanho-fonte-terciario);
    font-weight: var(--peso-terciario);
}

h3
{
    font-size: 26px;
    font-weight: var(--peso-secundario);
}

h5
{
    font-size: var(--tamanho-fonte-senario);
    font-weight: var(--peso-secundario);
}

h6
{
    font-size: var(--tamanho-fonte-quartenario);
}

@media screen and (max-width:375px)
{
    h1 
    {
        font-size: 40px;
    }

    h2 
    {
        font-size: 34px;
    }

    h4 
    {
        font-size: 12px;
    }

    h5 
    {
        font-size: 18px;
    }

    h6 
    {
        font-size: 14px;
    }
}