#corpo-pagina-home
{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-primario);
    /* border: var(--borda-principal); */
}

a
{
    text-decoration: none !important;
    color: var(--preto-primario) !important;
    font-size: var(--tamanho-fonte-primario) !important;
    font-weight: var(--peso-secundario) !important;

}

h1
{
    font-size: 4.1875rem;
    font-weight: var(--peso-terciario);
    margin-bottom: var(--espacamento-terciario);
}

h2
{
    font-size: var(--tamanho-fonte-terciario);
    font-weight: var(--peso-terciario);
}

h3
{
    font-size: 1.625rem;
    font-weight: var(--peso-secundario);
}

h5
{
    font-size: var(--tamanho-fonte-senario);
    font-weight: var(--peso-secundario);
}

h6
{
    font-size: var(--tamanho-fonte-quartenario);
}

@media screen and (max-width:428px)
{
    h1 
    {
        font-size: var(--espacamento-senario);
    }

    h2 
    {
        font-size: 2.125rem;
    }

    h4 
    {
        font-size: 0.75rem;
    }

    h5 
    {
        font-size: var(--tamanho-fonte-quinario);
    }

    h6 
    {
        font-size: var(--tamanho-fonte-quartenario);
    }
}