#corpo-pagina-home
{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-primario);
}

a
{
    text-decoration: none;
    color: var(--preto-primario);
    font-size: var(--tamanho-fonte-primario);
    font-weight: var(--peso-secundario);

}

h1
{
    font-size: 4.1875rem;
    font-weight: var(--peso-terciario);
    margin-bottom: var(--espacamento-terciario);
}

h2
{
    font-size: var(--tamanho-fonte-terciario);
    font-weight: var(--peso-terciario);
}

h3
{
    font-size: var(--tamanho-fonte-secundario);
    font-weight: var(--peso-secundario);
}

h5
{
    font-size: var(--tamanho-fonte-senario);
    font-weight: var(--peso-secundario);
}

h6
{
    font-size: var(--tamanho-fonte-quartenario);
}