.secao-nosso-servico
{
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: var(--borda-principal);
    /* border: var(--borda-principal); */
}


.secao-nosso-servico > img
{
    border-right: var(--borda-principal);
    border-bottom: var(--borda-principal);
}

.secao-nosso-servico__our-service
{
    padding: var(--espacamento-secundario) 0;
    text-align: center;
    grid-column: 1 / 3;
    border-bottom: var(--borda-principal);
}

.secao-nosso-servico__inscricao
{
    padding: var(--espacamento-secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: var(--peso-secundario);
    text-align: center;
    border-bottom: var(--borda-principal);
}


.secao-nosso-servico__inscricao__conversao__topico
{
    font-size: var(--tamanho-fonte-quartenario);
    margin-bottom: var(--espacamento-primario);
    font-weight: var(--peso-secundario);
}

.secao-nosso-servico__inscricao > h2
{
    font-weight: var(--peso-terciario);
    margin-bottom: var(--espacamento-terciario);
}

.secao-nosso-servico__inscricao__botao
{
    margin-top: var(--espacamento-quinario);
    padding: var(--espacamento-terciario) var(--espacamento-primario) var(--espacamento-quartenario) var(--espacamento-primario);
    border: var(--borda-principal);
}


.service-section
{
    background-image: url("../../assets/Casamento.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--cor-de-fundo);
}

.secao-inquire
{
    padding: 0;
    border-bottom: none;
}

.secao-inquire > p
{
    font-size: var(--tamanho-fonte-quinario);
}

.service-section a
{
    color: var(--cor-de-fundo);
    border-color: var(--cor-de-fundo);
}


.client-reviews
{
    border-bottom: none;
    padding: 0;
}

.client-reviews__division
{
    display: grid;
    grid-template-columns: auto auto auto;
}

.division__text
{
    margin: var(--espacamento-terciario) 0 var(--espacamento-terciario) 0;
    font-size: 1.75rem;
    font-style: italic;
}

.client-reviews > h2
{
    margin-bottom: 0;
}

.division__seta
{
    margin-top: var(--espacamento-primario);
    align-self: center;
}

.division__author
{
    font-weight: var(--peso-secundario);
    margin-bottom: 2.25rem;
    grid-column: 1 / 3 ;
}

.secao-octonaria__anchor
{
    border: var(--borda-principal);
    padding: var(--espacamento-terciario) var(--espacamento-primario) var(--espacamento-quartenario) var(--espacamento-primario);
    margin-top: 5.21875rem;
    
}

@media screen and (max-width:768px)
{

    .secao-nosso-servico
    {
        border-top: none;
        display: flex;
        flex-direction: column;
    }

    .secao-nosso-servico__our-service
    {
        padding: 40px 1rem;
        text-align: left;
    }

    .secao-nosso-servico__inscricao__conversao__topico
    {
        font-size: 12px;
    }

    .secao-nosso-servico__inscricao
    {
        padding: 40px 1rem;
    }

    .secao-nosso-servico__inscricao__botao
    {
        font-size: 14px;
    }

    .secao-nosso-servico__inscricao__conversao__topico
    {
        font-size: 12px;
    }

    .secao-inquire > p
    {
        font-size: 16px;
    }

    .secao-nosso-servico__inscricao__botao
    {
        box-sizing: border-box;
        padding: 1rem;
        padding-bottom: 0.875rem;
        width: 100%;
    }
}
