
#corpo-pagina-inicial
{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: linear-gradient(203deg, #000 0%, rgba(0, 0, 0, 0.80) 100%), #D4D4D4;
    /* background: linear-gradient(to right, blue, green); */
    /* background: radial-gradient(red, yellow); */
    /* background: linear-gradient(230deg, #000000, #FFFFFF, #D4D4D4 ); */
    /* overflow-y: hidden;
    overflow-x: hidden; */
}

.secao-apresentacao
{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 4rem 8rem 0rem 8rem;
    height: 100%;
    background: linear-gradient(203deg, #000 0%, rgba(0, 0, 0, 0.80) 100%), #D4D4D4;
}

.secao-apresentacao__conteudo > h1
{
    font-size: 4rem;
    color: white;
    margin-bottom: 5rem;
}

.secao-apresentacao__conteudo > ul > li
{
    color: rgba(255, 255, 255, 0.90);
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 100;
}

.secao-apresentacao__conteudo > a
{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-size: 2rem;
    margin-top: 5rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    display: block;
    width: 70%;
    border-radius: 100px;
    background-color: white;
}

.secao-apresentacao__conteudo__imagem
{
    width: max-content;
    align-self: end;
    width: 100%;
    vertical-align: top;
    padding-top: 2rem;
}

@media(max-width: 820px)

{

    body
    {
        overflow-y: visible;
        overflow-x: visible;
    }
    .secao-apresentacao
    {
        grid-template-columns: 100%;
        margin: 1rem 3rem 0 3rem;
    }

    .secao-apresentacao__conteudo > h1
    {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .secao-apresentacao__conteudo > a
    {
    font-size: 1rem;
    margin-top: 3rem;
    padding: 1rem 0;
    width: 70%;
    border-radius: 100px;
    }

}