@use '../abstract/variaveis' as valores-e-funcoes;
footer
{
    font-family: $fonte-gilroy;
    box-sizing: border-box;
    
    .footer__div 
    {

        box-sizing: border-box;
        p 
        {

        }
        form
        {
            
            input
            {
                padding: 12px 0;
                &::placeholder
                {
                    font-size: 14px;
                    font-size: $fonte-gilroy;
                    font-weight: 500;
                }
            }
            buttom 
            {
                background-color: #121212;
                padding-bottom: 14px!important;
                font-size: 14px;
                @media screen 
                {
                    @media (min-width:768px)
                    {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .footer__div 
    {
        h5
        {
            font-size: 18px !important;
            @media screen 
            {
                @media (min-width:768px) 
                {
                    font-size: 21px!important;
                }   
            }
        }

        div 
        {
            p
            {
                font-size: 14px;
            }

            .p-destaque
            {
                @media screen
                {
                    @media (min-width:768px)
                    {
                        font-size: 1rem;
                    }
                }
            }

            div 
            {
                column-gap: 32px;
            }
        }
    }

    .footer__div-1
    {
        @include valores-e-funcoes.definirBordaDireita();
    }
    .footer__div-2
    {
        @include valores-e-funcoes.definirBordaDireita(1200px);

            div 
            {
                .redes-sociais
                {
                    
                }
            }

    }
    .footer__div-3
    {
        @include valores-e-funcoes.definirBordaDireita();
    }

}